.env
__pycache__/
*.pyc
.venv/
venv/
.vscode
docs/session_log.md
data/analytics/descriptive/*
data/database/igdb_games.db
data/analytics/diagnostic/*
apps/streamlit/.streamlit/secrets.toml
data/database/*.db
data/raw/*.json
data/app/*.parquet
data/app/*.json

